
@charset "utf-8";
/***************
This is for BASE, including header and footer
***************/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, figure, figcaption, code, del, dfn, em, image, q, dl, dt, dd, ol, ul, li, fieldset, form, legend, table, tf, tr, th {
	border: 0px;
	padding: 0px;
	/*font-size: 100%;*/
	margin: 0px;
	font-family: 'Microsoft Yahei',"Lucida Grande", "Tahoma","Arial", "Helvetica", "sans-serif";
	-webkit-font-smoothing: subpixel-antialiased;
	font-weight:normal;
}
body {
	color: #565656;
	line-height: 20px;
	font-size: 12px;
	font-family:'Microsoft Yahei',"Lucida Grande", "Tahoma","Arial", "Helvetica", "sans-serif";
	margin: 0px;
   overflow-x:hidden;
}
input, textarea, select {
	font-family: 'Microsoft Yahei',"Lucida Grande", "Tahoma","Arial", "Helvetica", "sans-serif";
	background-color: #FFFFFF;
	font-size:12px;
	outline:none;
}
img {
	border: 0px;
	vertical-align:bottom;
	-ms-interpolation-mode: bicubic;max-width:100%;
}
a, a:link {
	text-decoration: none;
   color: #323232;
}
a:hover {
	text-decoration:none;
	color:#8c0000;
}
ul, li {
	list-style-type:none;
}
.pku-red{
   color:#8c0000;
}
.pku-gold{
   color:#dda813
}
.icon-space-right{
   margin-right:3px;
}
.icon-space-left{
   margin-left:3px;
}
.left {
	float: left;
}
.right {
	float: right;
}
.clearfix:after {
	display:block;
	content:'';
	clear:both;
	height:0px;
	visibility: hidden;
}
.yahei {
	font-family:"Microsoft Yahei", Arial;
}
h1, h2, h3, h4 {
	font-family:"Microsoft Yahei", Arial;
}
.relative {
	position:relative;
}
.clearfix {
*display:inline-block;
*zoom:1;
*vertical-align:top;
}
/* Add by PKU zb 2014.9.1 */
.clearfix1 {
*display:inline-block;
*zoom:1;
*vertical-align:top;
line-height:35px
}
.clear{
	clear:both;
}
.clear_f {
	clear:both;
}
 *::selection {
 background:#8c0000;
 color: #FFFFFF;
 text-shadow: none;
}
 *::-moz-selection {
 color: #8c0000;
 text-shadow: none;
}
.ie6 {
	text-align:center;
	font-size:14px;
	line-height:60px;
}
.ie6 span {
	float:right;
	margin-right:30px;
	cursor:pointer;
}
.blankspace {
	height:1.5em;
	overflow:hidden;
	margin:0;
	padding:0;
	clear:both;
}
/*comm used header,content,footer*/

.mainWrap {
	width:1000px;
	margin:auto;
}
/*
.header {
	background:#fff url(../img/bg.jpg) repeat-x top
}
*/
.header .topLine {
}
.header .topWrap {
	padding:0;
	/* background:#7f0101 url(../img/pkucloud1h100.png) no-repeat top right; LHY */
   /*background:#fff url(../img/img_xkb2.png) no-repeat top right;*/
  background:#fff;
	/* border-top:0px solid #c40000;
	border-bottom:0px solid #600000;*/
}
.header .topWrap .mainWrap{
	height:100px;
}
.header .logo {
	float:left;
	_display:inline;
	padding-top:20px;
	padding-left:15px;
}
.header .logo a{
	float:left;
	display:inline;
}
.header .logo a.xkb_logo {
	float:left;
	display:inline;
   margin-left:15px;
	padding-left:11px;
   /* color:#9B0000;  zb */
   color:#8c0000;
   font-size:30px;
   height:60px;
   /* border-left:solid 1px #9B0000; zb */
   border-left:solid 1px #8c0000;
}
.header .logo a.xkb_logo:hover {
	color:#AC0000;
}
.header .subnavLeft {
	padding-left:10px;
}
.header .search {
	float:right;
	_display:inline;
	padding-right:10px;
   height:20px;
}
.header .search .inp {
	border:0;
	height:16px;
	width:130px;
	/* border:1px solid #821514;*/
	margin-top:2px;
	padding-left:5px;
   padding-right:5px;
	float:left;
	_display:inline;
	background:#AC0000;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	opacity: 0.8;
	filter:alpha(opacity=80);
}
.header .search .inp:hover {
	background:#fff;
	opacity:1
}
.header .search .btn {
	height:22px;
	padding:0 8px;
 *padding:0 8px 0 12px;
	line-height:21px;
	text-align:center;
	border:0;
	float:left;
	font-size:12px;
	_display:inline;
	color:#fff;
	cursor:pointer;
 *background:url(search_normal.png) 0 3px no-repeat;
}
.header .search .btn:hover {
 *background:url(search_normal.png) 0 3px no-repeat;
}
.header .subNav {
	/*background:#700005;*/
   /* background:#9B0000;  zb*/
   background:#8c0000;
   border-bottom:0px solid #8C0000;
}
.header .subNav .onlymobileshow{
	display:none;
}
.header .subNav .menu {
	display:none;
}
.header .subNav li {
	float:left;
	_display:inline;
	padding:6px 2px 6px 3px;
	position:relative;
	z-index:999;
	zoom:1;
}
.header .subNav li a {
	display:block;
/* ZB	font-size:12px; */
	font-size:14px;
	color:#e5e3e3;
	padding:0 5px;
	/* text-shadow:0px 2px 1px #600000; */
	filter:dropshadow(color=#600000, offx=0, offy=2);
}
.header .subNav li a:hover, .header .subNav li a:focus, .header .subNav li a.hover {
	color:#fff;
}
.header .subNav li.current {
	background:#fff;
}
.header .subNav li.current a {
	color:#444;
	text-shadow:0px 2px 1px #f3f3f3;
	filter:dropshadow(color=#f3f3f3, offx=0, offy=2);
}
.header .subNavRight {
	float:right!important;
}
.header .subNav #mobileNav ul {
   height:120px;
   width:640px;
}
.header .subNav #mobileNav li {
   padding: 2px 2px 2px 2px;
   line-height:40px;
   height:36px;
   width:154px;
   float:left;
}
.header .subNav #mobileNav li form{
   height:40px;
   line-height:40px;
}
.header .subNav #mobileNav li form input {
   width:80px;
   float:left;
   opacity:0.8;
   background-color:#fff;
   border:1px solid #C4C4C4;
   margin-left:8px;
   margin-right:3px;
   margin-top:12px;
}
.header .subNav #mobileNav li form a {
   height:40px;
   line-height:40px;
}
.header .subNav #mobileNav li a {
   font-size:14px;
   color:#000;
   float:left;
}
.header .nav {
	/* float:right;
	_display:inline;
	margin-top:25px;*/
	background-color:#fff;
}
.header .nav .menu {
	display:none;
}
header .nav #nav{
	/* text-align:center; */
	margin:auto;
	width:1000px;
}
.header .nav li {
	float:left;
	_display:inline;
	padding:0 10px 0 9px;
	+padding:0 9px 0 8px;
	z-index:999;
	zoom:1;
}
.header .nav li.on a{ background:#8c0000; color:#fff;}
.header .nav li.nav_first {
        padding-left:0px;
}
.header .nav li.nav_last {
        padding-right:0px;
} 
.header .nav li a.current {
/* PKU	background: url(nav_cur.png) bottom repeat-x */
	background: url(../img/nav_cur_red.png) bottom repeat-x;
   /*color:#fff;
	background:#8f000b;*/
}
.header .nav li a {
	display:block;
	line-height:43px;
/* ZB	font-size:15px; */
	font-size:16px;
/* PKU	color:#fff; */
	color:#333;
	/* padding:0 12px;
 *padding:0 13px; */
  text-align:center;
  width:146px;
 -webkit-transition-duration:.3s;
-moz-transition-duration:.3s;
-o-transition-duration:.3s;
transition-duration:.3s;
	-ms-transition-duration:0s;
}
.header .nav li a.wide {
	width:130px;
}
.header .nav li a:hover, .header .nav li a.hover {
/* PKU
	color:#565656;
	background:#fff;
*/
   color:#fff;
/* ZB	background:#9b0000; */
	/* background:#8f000b;  zb */
         background:#8c0000; 
}
.header .nav li a i {
	padding:0;
 *margin:0 -5px 0 5px;
}
.header .nav li a i:before {
	margin-right:-4px;
}
.header .caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px solid;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}

#nav .minfoWrap {
	position:absolute;
	background:#fff;
/* PKU */
	border-top: 0px solid #8c0000;
/* PKU 	top:132px; */
/* PKU
	top:131px;
*/
	left:0%;
	width:100%;
	z-index:2;
	padding:2em 0;
	display:none;
	/* -webkit-box-shadow:0 6px 12px #838383;
	-moz-box-shadow:0 6px 12px #838383;
	box-shadow:0 10px 20px rgba(0, 0, 0, 0.63); */
}
#nav .minfoWrap_inner {
	width:1200px;
	background:#fff;
	margin:0 auto;
}
#nav ul.last {
	right:2px;
}
#nav ul li {
	float:none;
	display:block;
	padding:0;
	margin:0;
}
#nav ul li a {
	background:#fff;
	line-height:24px;
	font-size:14px;
	color:#565656;
/* PKU	padding:0 0 0 20px; */
	padding:0 0 0 0px;
}
#nav ul li a:hover {
	color:#8c0000;
}
.header .nav #nav li .sub-nav{
   position:absolute;
   z-index:2;
   display:none;
}
.header .nav #nav .sub-nav li a{
   background:#8c0000;
   color:#fff;
   line-height:16px;
	font-size:14px;
   text-align:left;
   width:196px;
   padding:10px 5px 10px 28px;
}
.header .nav #nav .sub-nav li a:hover{
   background:#9c0000;
}
.nav01 {
	width:160px
}
/* PKU */
.nav02 {
	width:300px;
	font-size:14px;
	color:#999;
	line-height:24px;
}
.nav03 {
	width:240px;
	font-size:14px;
	color:#999;
	margin-right:50px;
	line-height:24px;
}
/* PKU */
.nav04 {
	width:200px;
}
/* PKU */
.nav05 {
	width:150px;
	font-size:14px;
	color:#999;
	margin-right:50px;
	line-height:24px;
}
.readmore {
//	text-transform: uppercase;
	font-size: 15px!important;
	box-shadow: none;
	color: #8c0000!important;
	display:inline !important;
	-webkit-transition: 400ms !important;
	-moz-transition: 400ms !important;
	-o-transition: 400ms !important;
	transition: 400ms !important;
}
.readmore:hover {
	text-shadow: none;
	box-shadow: none !important;
	color:#333!important;
}
.readmore1 {
//	text-transform: uppercase;
	font-size: 15px!important;
	box-shadow: none;
	color: #000000!important;
	display:inline !important;
	-webkit-transition: 400ms !important;
	-moz-transition: 400ms !important;
	-o-transition: 400ms !important;
	transition: 400ms !important;
}
.readmore1:hover {
	text-shadow: none;
	box-shadow: none !important;
	color:#8c0000!important;
}
.fl {
	float:left;
}
.fr {
	float:right;
}
.main-body{
  width:100%;
  /*max-width:1380px;*/
  max-width:1000px;
  margin:0 auto;
}
.footer{
   width: 100%;
   height:32px;
   background: #000;
   margin-top:40px;
   /* background: url(../img/f_bg.jpg) no-repeat center top;
   height: 215px;
   border-top:1px solid #af0a1a; */
}
.footer .footWrap {
	background:#ededed;
	padding:40px 0;
	border-top: #dfdfdf 1px solid;
}
.footer .footWrap li {
	width:150px;
	float:left;
	_display:inline;
}
.footer .footWrap h4 {
	padding-bottom:8px;
}
.footer .footWrap h4 a {
	font-size:15px;
	color:#333;
}
.footer .footWrap h4 a:hover {
	color:#8c0000
}
.footer .footWrap a {
	color:#787878;
	display:block;
	line-height:24px;
	text-align:center;
}
.footer .footWrap a:hover {
	color:#8c0000;
}
.footer .copyrights {
	color:#f8f8f8;
	padding:15px 0;
	line-height:22px;
	background:#821514;
	border-top:#8c0000;
}
.footer .copyrights .info {
	float:left;
}
.footer .copyrights .info span {
	padding-right:24px;
}
.footer .copyrights .icp {
	float:right;
}
.footer .copyrights .copy {
	display:block;
}
.fot_bot{
   width:920px; 
   margin:0 auto;
   font-size: 12px;
   overflow: hidden;
   color: #fff;
   text-align: center;
   height:32px;
   line-height: 32px;
   background: #000;
}
.fot_bot span{
   display:inline-block;
   float:left;
   width:160px;
   padding: 0 20px;
}
.fot_bot .copyright{
   /*width:200px;*/
   width:230px;
}
.fot_bot .addr{
   /*width:160px;*/
   width:190px;
}
.fot_bot .postcode{
   /*width:80px;*/
   width:90px;
}
.fot_bot .telephone{
   width:120px;
}
.fot_bot .tech-sup{
   /*width:160px;*/
   width:210px;
}

._plugMasklayer {
	background: none repeat scroll 0 0 #FFFFFF;
	display: none;
	height: 100%;
	left: 0;
	opacity: 0.8;
	filter:alpha(opacity=80);
	_position: absolute;
	position:fixed;
	top: 0;
	width: 100%;
	z-index: 9998;
	bottom:0;
}
._plugLayer {
	background: none repeat scroll 0 0 #FFFFFF;
	display: none;
	left: 50%;
	top: 50%;
	border:1px solid #609;
	_position: absolute;
	position:fixed;
	z-index: 9999;
}
/*action*/
.ssubNav {
	display:none;
}
 @media screen and (max-width:1024px) {
    
    .mainWrap {
    width:800px;
    margin:0 auto;
   }
   .header .nav #nav{
   	width:795px;
   }
   .header .nav #nav .minfoWrap .minfoWrap_inner div.fl{
   	display:none;
   }
    .header .nav li {
     /*padding: 0 24px 0 24px;*/
     padding:0 11px 0 11px;
   	+padding:0 10px 0 10px;
   }
    .header .nav li a {
    font-size:13px;
    /*padding:0 9px;*/
    width:75px;
   }
   .header .nav #nav .sub-nav li a{
      width:156px;
      padding:10px 5px 10px 43px;
   }
    #nav ul {
    width:100px;
   }

    #nav ul.fl{
    width:160px;
   }
    #nav ul.fl a {
    width:150px;
   }
   
    .footer .footWrap li {
    width:120px;
    overflow:hidden;
   }
   .footer{
      height:128px;
   }
   .fot_bot{
      width:440px;
      height:128px;
   }
   .fot_bot span{
      text-align:left;
   }
   .fot_bot .postcode{
      width:200px;
   }
   .fot_bot .telephone{
      width:160px;
   }
   .fot_bot .tech-sup{
      width:400px;
   }
   .header .topWrap {
   height:auto;
   }
}
 @media screen and (max-width:800px) {
    
    .mainWrap {
    width: 760px;
   }
   .mainWrap02 {
    position:relative;
    display:none;
    background:#444;
   }
   #nav .minfoWrap {
    left:50%;
    margin-left:-380px;
    width:760px;
   }
    .header .topWrap {
    position:relative;
   }
   .header .logo {
    margin:auto;
    padding-left:0px;
   }
   .header .search {
    float:none;
    position:absolute;
    width:100%;
    top:0px;
    margin-top:10px;
   }
   .header .search .ext {
    float:right;
    padding:4px 30px 10px 0;
   }
    .header .search .ext a {
    color:#fff;
   }
    .header .search .inp {
    border:0;
    margin-left:20px;
    height:14px;
    width:130px;
    background:#fff;
   }
    .header .search .btn {
    height:20px;
    line-height:20px;
    font-size:12px;
   }
    .subNav .ssubNav {
   /*display:block;*/
  /* PKU
   line-height:44px;
   PKU font-size:18px; */
   line-height:35px;
   line-height:32px;   /*   ZB   */
   font-size:14px;
   padding:0 20px;
   cursor:pointer;
   color:#fff;
   /*background:#5e0000;     ZB   */
   background:#8c0000;   /*  ZB   */
	cursor:pointer;
	display:inline-block;
	padding-top:10px;
	-ms-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-o-transition: all 0.4s ease-in-out s;
	-moz-transition: all 0.4s ease-in-out s;
	transition: all 0.4s ease-in-out 0s;
  }
  .navline {
   	width:19px;
   	height:2px;
   	border-radius:2px;
   	background-color:#FFF;
   	display:block;
   	margin-bottom:4px;
   	-ms-transition: all 0.4s ease-in-out 0s;
   	-webkit-transition: all 0.4s ease-in-out 0s;
   	-o-transition: all 0.4s ease-in-out s;
   	-moz-transition: all 0.4s ease-in-out s;
   	transition: all 0.4s ease-in-out 0s;	
   }
   .navline1{
   	transform:translateY(6px) rotate(45deg);
   	-ms-transform:translateY(6px) rotate(45deg);
   	-webkit-transform:translateY(6px) rotate(45deg);
   	-o-transform:translateY(6px) rotate(45deg);
   	-moz-transform:translateY(6px) rotate(45deg);
   	-ms-transition: all 0.4s ease-in-out 0s;
   	-webkit-transition: all 0.4s ease-in-out 0s;
   	-o-transition: all 0.4s ease-in-out s;
   	-moz-transition: all 0.4s ease-in-out s;
   	transition: all 0.4s ease-in-out 0s;
   }
   .navline2{
   	background-color:#8c0000;
   	-ms-transition: all 0.4s ease-in-out 0s;
   	-webkit-transition: all 0.2s ease-in-out 0s;
   	-o-transition: all 0.2s ease-in-out s;
   	-moz-transition: all 0.2s ease-in-out s;
   	transition: all 0.2s ease-in-out 0s;
   }
   .navline3{
   	transform:translateY(-6px) rotate(-45deg);
   	-ms-transform:translateY(-6px) rotate(-45deg);
   	-webkit-transform:translateY(-6px) rotate(-45deg);
   	-o-transform:translateY(-6px) rotate(-45deg);
   	-moz-transform:translateY(-6px) rotate(-45deg);
   	-ms-transition: all 0.4s ease-in-out 0s;
   	-webkit-transition: all 0.4s ease-in-out 0s;
   	-o-transition: all 0.4s ease-in-out s;
   	-moz-transition: all 0.4s ease-in-out s;
   	transition: all 0.4s ease-in-out 0s;
   }
   .header .subnavLeft {
   padding-top:30px;
   }
   .header .subNav li {
   float:none;
   border:none;
   }
   .header .subNav li a {
   padding-left:7px;
   font-size:12px;
   color:#f5f5f5;
   }
   .header .subNavRight {
   float:none!important;
   }
   .header .subNavRight li a {
   padding-left:17px;
   }
   .minfoWrap {
   display:none!important;
   }
    .header .topWrap {
    height: auto;
     /* padding:20px 0 0;*/
   }
    .header .nav {
    background:#efefef;
    border:0;
    /* margin-top:20px;*/
   }
    .header .nav .menu {
    display:none;
   line-height:44px;
    line-height:38px;   /*   ZB   */
    font-size:18px;
    padding:0 20px;
    cursor:pointer;
    color:#22132d;
   }
    .header .nav .menu .menuicon {
    float:right;
    color:#22132d;
   }
   .header .nav #nav{
   	width:100%;
   	text-align:left;
   }
    .header .nav ul {
    display:none;
   }
    .header .nav li {
    float:none;
    padding:0;
    border-top:1px solid #ddd;
    background:#fff;
    overflow:hidden;
   }
    .header .nav li a {
    font-size:12px;
    text-indent:20px;
    line-height:30px;
    color:#333;
    width:auto;
    text-align:left;
   }
   .header .subNav #mobileNav ul {
      height:120px;
   }
   
    .footer .footWrap li {
    width:190px;
    height:200px;
    overflow:hidden;
   }
    .footer .copyrights {
    text-align:center;
   }
    .footer .copyrights .info {
    float:none;
    display:block;
   }
    .footer .copyrights .icp {
    float:none;
    display:block;
   }
   .header .logo {
      float:none;
      display:block;
      width:483px;
      height:auto;overflow:hidden;
      margin:0 auto;
      padding-bottom:0;padding-top:28px;
   }
   .header .logo a img{width:100%;display:block}
   .header .logo a{width:30%;float:left;}
    .header .logo a.xkb_logo{width:50%;height:auto}
   .header .nav {
   float:none;
   }
   .header .topWrap {
   height:auto;
   }
   .minfoWrap {
   display:none!important;
   }
}
 @media screen and (max-width:640px) {
   .mainWrap {
   width: 100%;
  }
  .mainWrap02 {
  position:relative;
  display:none;
  background:#444;
  }
   .header .topWrap {
   position:relative;
  }
  .header .topWrap .mainWrap{
   	height:80px;
   }
   .header .logo {padding-top:23px;width:350px;}
   .header .logo a{width:110px;}
   .header .logo a.xkb_logo{width:200px;}
  /*.header .logo {
      margin:auto;
      padding-left:0px;
   	padding-top:20px;
   	padding-bottom:20px;
      width:351px;
   }
   .header .logo img{
      width:160px;
    }
   .header .logo a.xkb_logo {
   	margin-top:10px;
      font-size:20px;
   }*/
   
   .header .search {
   float:none;
   position:absolute;
   width:100%;
   top:0px;
   margin-top:10px;
  }
   .header .search .ext {
   float:right;
   padding:4px 30px 10px 0;
  }
   .header .search .ext a {
   color:#fff;
  }
   .header .search .inp {
   border:0;
   margin-left:20px;
   height:14px;
   width:130px;
  }
   .header .search .btn {
   height:20px;
   line-height:20px;
   font-size:12px;
  }
   .header .topWrap {
   height: auto;
   /* padding:20px 0 0;*/
  }
   .header .nav {
   background:#efefef;
   border:0;
   /* margin-top:20px;*/
  }
   .header .nav .menu {
   display:none;
   line-height:44px;
   line-height:38px;   /*   ZB   */
   font-size:18px;
   padding:0 20px;
   cursor:pointer;
   color:#22132d;
  }
   .header .nav .menu .menuicon {
   float:right;
   color:#22132d;
  }
   .header .nav ul {
   display:none;
  }
   .header .nav li {
   float:none;
   padding:0;
   border-top:1px solid #ddd;
   background:#fff;
   overflow:hidden;
  }
   .header .nav li a {
   font-size:15px;
   text-indent:20px;
   color:#000;
  }
   .header .nav li a .thuicon-angle-down {
   display:none;
  }
    .header .subNav #mobileNav ul {
      height:160px;
      width:480px;
   }
   .footer .footWrap {
   padding:14px 0;
  }
   .footer .footWrap li {
   width:25%;
   height:auto;
  }
   .footer .footWrap a {
   display:none;
  }
   .footer .footWrap h4 a {
   display:block;
   font-size:12px;
   line-height:30px;
  }
   .footer .footWrap h4 {
   padding-bottom:0;
  }
   .footer .copyrights {
   text-align:center;
  }
   .footer .copyrights .info {
   float:none;
   display:block;
   padding:0 30px;
  }
   .footer .copyrights .info span {
   display:block;
   padding:0;
  }
   .footer .copyrights .icp {
   float:none;
   display:block;
  }
  .header .caret {
  display:none;
  }
  .subNav .ssubNav {
   /*display:block;*/
  /* PKU
   line-height:44px;
   PKU font-size:18px; */
   line-height:35px;
   line-height:32px;   /*   ZB   */
   font-size:14px;
   padding:0 20px;
   cursor:pointer;
   color:#fff;
   /*background:#5e0000;     ZB   */
   background:#8c0000;   /*  ZB   */
	cursor:pointer;
	display:inline-block;
	padding-top:10px;
	-ms-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-o-transition: all 0.4s ease-in-out s;
	-moz-transition: all 0.4s ease-in-out s;
	transition: all 0.4s ease-in-out 0s;
  }
  .navline {
   	width:19px;
   	height:2px;
   	border-radius:2px;
   	background-color:#FFF;
   	display:block;
   	margin-bottom:4px;
   	-ms-transition: all 0.4s ease-in-out 0s;
   	-webkit-transition: all 0.4s ease-in-out 0s;
   	-o-transition: all 0.4s ease-in-out s;
   	-moz-transition: all 0.4s ease-in-out s;
   	transition: all 0.4s ease-in-out 0s;	
   }
   .navline1{
   	transform:translateY(6px) rotate(45deg);
   	-ms-transform:translateY(6px) rotate(45deg);
   	-webkit-transform:translateY(6px) rotate(45deg);
   	-o-transform:translateY(6px) rotate(45deg);
   	-moz-transform:translateY(6px) rotate(45deg);
   	-ms-transition: all 0.4s ease-in-out 0s;
   	-webkit-transition: all 0.4s ease-in-out 0s;
   	-o-transition: all 0.4s ease-in-out s;
   	-moz-transition: all 0.4s ease-in-out s;
   	transition: all 0.4s ease-in-out 0s;
   }
   .navline2{
   	background-color:#8c0000;
   	-ms-transition: all 0.4s ease-in-out 0s;
   	-webkit-transition: all 0.2s ease-in-out 0s;
   	-o-transition: all 0.2s ease-in-out s;
   	-moz-transition: all 0.2s ease-in-out s;
   	transition: all 0.2s ease-in-out 0s;
   }
   .navline3{
   	transform:translateY(-6px) rotate(-45deg);
   	-ms-transform:translateY(-6px) rotate(-45deg);
   	-webkit-transform:translateY(-6px) rotate(-45deg);
   	-o-transform:translateY(-6px) rotate(-45deg);
   	-moz-transform:translateY(-6px) rotate(-45deg);
   	-ms-transition: all 0.4s ease-in-out 0s;
   	-webkit-transition: all 0.4s ease-in-out 0s;
   	-o-transition: all 0.4s ease-in-out s;
   	-moz-transition: all 0.4s ease-in-out s;
   	transition: all 0.4s ease-in-out 0s;
   }
  .header .subnavLeft {
  padding-top:30px;
  }
  .header .subNav li {
  float:none;
  border:none;
  }
  .header .subNav li a {
  padding-left:7px;
  font-size:14px;
  color:#f5f5f5;
  }
  .header .subNavRight li a {
  padding-left:17px;
  }
  .header .subNavRight {
  float:none!important;
  }
  .minfoWrap {
  display:none!important;
  }
}
@media screen and (max-width:480px) {
    .header .subNav #mobileNav ul {
      height:240px;
      width:360px;
   }
   .header .topWrap {
   	background-size:auto 70px;
   }
   .header .topWrap .mainWrap{
   /*	height:70px;*/
   }
   /*.header .logo {
   	padding-top:16px;
   	padding-bottom:16px;
      width:289px;
   }
   .header .logo img{
      width:140px;
    }
    .header .logo a.xkb_logo {
   	margin-top:6px;
      margin-left:10px;
      padding-left:10px;
      font-size:16px;
      height:24px;
   }*/
   .footer{
      height:128px;
   }
   .fot_bot{
      width:240px;
      height:128px;
   }
   .fot_bot span{
      width:240px;
      text-align:left;
   }
}
 @media screen and (max-width:360px) {
   
  .minfoWrap {
  display:none!important;
  }
  .header .subNav #mobileNav ul {
      height:240px;
      width:320px;
   }
  .header .topWrap {
   	background-size:auto 60px;
   }
   .header .topWrap .mainWrap{
   	height:60px;
   }
   .header .logo {
   	padding-top:14px;
   	padding-bottom:14px;
      width:261px;
   }
   .header .logo a{
      width:90px;
    }
    .header .logo a.xkb_logo {
   	margin-top:4px;
      margin-left:10px;
      padding-top:0px;
      padding-bottom:2px;
      padding-left:10px;
      font-size:15px;
      height:20px;
	  width:134px;
   }
}
 @media screen and (max-width:320px) {
      .header .subNav #mobileNav ul {
         height:480px;
         width:200px;
      }
      .header .topWrap {
        	background-size:auto 50px;
        }
        .header .topWrap .mainWrap{
        	height:50px;
        }
      .header .logo {
       margin:auto;
       padding-top:11px;
       padding-bottom:11px;
       width:217px;
     }
      .header .logo img{
       width:100px;
     }
     .header .logo a.xkb_logo {
      	margin-top:6px;
         margin-left:10px;
         padding-top:0px;
         padding-bottom:6px;
         padding-left:10px;
         font-size:12px;
         height:15px;
      }
   .header .search .inp {
   width:100px;
  }
   .header .nav .menu {
   line-height:40px;
   font-size:16px;
  }
  .minfoWrap {
  display:none!important;
  }
}
